* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --light-white: #eaeaeac4;
  --blue-color: #7133f8;
  --shadow: var(#818183de) 0px 7px 30px 0px;
  --text-shadow-white: 2px 8px 12px #fff;
  --custom-font: "Josefin Sans", sans-serif;
}

body {
  background-color: #100f1d;
  font-family: var(--custom-font);
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

.section {
  padding-left: 3rem;
  padding-right: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0rem 2rem 0rem 2rem;
  z-index: 9999;
  transition: 0.35s ease;
  position: relative;
  background-color: #161122eb;
}

.menu {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.9rem;
  cursor: pointer;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  gap: 1.7rem;
  color: var(--light-white);
}

.logo {
  width: 8rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2.3rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: start;
  list-style: none;
  gap: 3rem;
  margin-right: 2.4rem;
}

.active {
  position: relative;
  color: var(--white-color) !important;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.8px;
  background: var(--blue-color);
}
.nav-item {
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  padding-bottom: 7px;
  cursor: pointer;
}

.nav-item::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.8px;
  background: var(--blue-color);
  transition: 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
  color: var(--white-color);
}

.nav-link {
  color: rgb(170, 170, 170);
}
.nav-link:hover {
  color: var(--white-color);
}

.icon {
  transition: 0.5s ease;
  border-radius: 10px;
  color: var(--light-white);
}

.icon:hover {
  transform: scale(1.2);
  color: var(--white-color);
}

.hero-btn {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border: 1.6px solid var(--blue-color);
  font-size: 1rem;
  color: var(--white-color);
  background-color: transparent;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
}

.hero-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: var(--blue-color);
  z-index: -1;
  transition: 0.4s ease;
}

.hero-btn:hover::before {
  cursor: pointer;
  width: 100%;
}
