* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151120da;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #3601bd;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a00af;
}

:root {
  --white-color: #fff;
  --light-white: #eaeaeac4;
  --blue-color: #7133f8;
  --shadow: var(#818183de) 0px 7px 30px 0px;
  --text-shadow-white: 2px 8px 12px #fff;
  --custom-font: "Josefin Sans", sans-serif;
}

body {
  background-color: #100f1d;
  font-family: var(--custom-font);
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

.section {
  padding-left: 3rem;
  padding-right: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0rem 2rem 0rem 2rem;
  z-index: 9999999999;
  transition: 0.35s ease;
  position: sticky;
  top: 0;
  height: 5rem;
  background-color: #151120da;
}

.menu {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.9rem;
  cursor: pointer;
}

.logo-menu {
  position: absolute;
  top: 17px;
  left: 50px;
  display: none;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
  color: var(--light-white);
  margin-left: 2.5rem;
}

.logo {
  width: 8rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: start;
  list-style: none;
  gap: 3rem;
  margin-right: 2.4rem;
}

.active {
  position: relative;
  color: var(--white-color) !important;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.8px;
  background: var(--blue-color);
}
.nav-item {
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  padding-bottom: 7px;
  cursor: pointer;
}

.nav-item::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.8px;
  background: var(--blue-color);
  transition: 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
  color: var(--white-color);
}

.nav-link {
  color: rgb(170, 170, 170);
}
.nav-link:hover {
  color: var(--white-color);
}

.icon {
  transition: 0.5s ease;
  border-radius: 10px;
  color: var(--light-white);
}

.icon:hover {
  transform: scale(1.2);
  color: var(--white-color);
}

.hero-btn {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border: 1.6px solid var(--blue-color);
  font-size: 1rem;
  color: var(--white-color);
  background-color: transparent;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
}

.hero-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: var(--blue-color);
  z-index: -1;
  transition: 0.4s ease;
}

.hero-btn:hover::before {
  cursor: pointer;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-name {
  color: var(--white-color);
  margin-bottom: 1rem;
  font-size: 2.6rem;
}

.profile-image {
  max-width: 12rem;
  border-radius: 100%;
  box-shadow: var(--shadow);
}

.bg-image {
  width: 100%;
  height: 65vh;
  background-image: url("./images/svg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -9rem;
  z-index: -1;
}

.blur {
  position: absolute;
  width: 100%;
  height: 40vh;
  top: 342px;

  background: linear-gradient(
      270.51deg,
      rgba(255, 84, 147, 0.294) 35.86%,
      rgba(255, 255, 255, 0.172) 52.65%
    ),
    radial-gradient(
      69.09% 95.18% at 42.78% 42.58%,
      #611abe89 0%,
      rgba(36, 33, 75, 0) 100%
    );
  filter: blur(150px);
  z-index: -2;
}

.main-text {
  z-index: 9;
  font-size: 7rem;
  text-align: center;
  margin-top: 10rem;
  padding: 1rem 2rem 0 2rem;

  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #46cbff, #ffc8c9);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  background: linear-gradient(to left, #ff58b1, #5252ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.second-text {
  color: var(--white-color);
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 0 2rem;
}

.third-text {
  color: var(--light-white);
  text-align: center;
  font-weight: 400;
  font-size: 1.9rem;
  padding: 0 2rem;
}

/* General Blur */
.blur2 {
  position: relative;
  width: 95%;
  height: 40vh;
  top: 1rem;
  margin-top: -15rem;

  background: linear-gradient(
      270.51deg,
      rgba(255, 155, 84, 0.331) 35.86%,
      rgba(255, 255, 255, 0.216033) 52.65%,
      rgba(0, 0, 0, 0) 72.38%
    ),
    radial-gradient(
      69.09% 95.18% at 42.78% 42.58%,
      #611abe6b 0%,
      rgba(36, 33, 75, 0) 100%
    );

  filter: blur(100px);
  z-index: -2;
}
/* General Blur End*/

/* Skills section */
.skills {
  margin-bottom: 5rem;
}

.title {
  position: relative;
  font-size: 8.5rem;
  margin-top: 15rem;
}

.Logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 10rem;
}

.logo-image1 {
  width: 15rem;
}
.logo-image2 {
  width: 7.3rem;
}
.logo-image3 {
  width: 8.6rem;
  margin-left: 2.8rem;
}
.logo-image4 {
  width: 10rem;
  margin-left: 2.8rem;
}
.logo-image5 {
  width: 18rem;
}
.logo-image6 {
  width: 20rem;
}
.logo-image7 {
  width: 8rem;
}
.logo-image8 {
  width: 8rem;
}
.logo-image9 {
  width: 10rem;
}
.logo-image10 {
  width: 8rem;
}
.logo-image11 {
  width: 13rem;
}
.logo-image12 {
  width: 25rem;
}
.logo-image13 {
  width: 18rem;
}
.logo-image14 {
  width: 18rem;
}

/* Projects section */

.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 280px;
  background-color: rgba(172, 172, 172, 0.163);
  border-radius: 10px;
  transition: 0.5s ease;
  box-shadow: 0 35px 80px rgb(0, 0, 0, 0.15);
  cursor: pointer;
  margin-bottom: 5rem;
}

.maximize {
  height: 680px;
  padding-top: 1rem;
}

.boxIMG {
  padding: 0 1rem;
}

.boxIMG img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.card-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
  margin: 3rem 0;
}

.card-details {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 1.4rem;
  width: 90%;
}

.card-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 1rem 0 0 0;
  color: var(--white-color);
  width: 90%;
}

.show-details-btn {
  font-size: 1.2rem;
  color: #ffffffd1;
  background-color: rgba(172, 172, 172, 0.163);
  border-radius: 100%;
  padding: 0 2px;
  transition: 0.3s ease;
}
.show-details-btn:hover {
  color: var(--white-color);
  transform: scale(1.08);
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.card-icons {
  gap: 2rem;
  color: var(--light-white);
}
.card-icons i {
  transition: 0.4s ease;
}
.card-icons i:hover {
  color: var(--white-color);
  transform: scale(1.15);
}

.card-content .card-description {
  color: var(--light-white);
  line-height: 25px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 8rem 0 14rem 0;
}

.card-target {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}
.card-target > * {
  padding: 5px 8px;
  border-radius: 12px;
  background-color: rgba(93, 93, 93, 0.323);
  color: var(--white-color);
  font-size: 1rem;
}

/* Customize the card*/
.wiki {
  max-height: 600px;
}
.twitter {
  max-height: 640px;
}
.network {
  max-height: 600px;
}
.youtube {
  max-height: 580px;
}
.whatsApp {
  max-height: 580px;
}

/* Contact */

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15rem;
  margin-top: -10rem;
  margin-left: 3rem;
}

.contact-content {
  flex: 1;
  color: #fff;
  padding-right: 3rem;
}

.contact-content :nth-child(1) {
  font-size: 2.5rem;
  margin-top: -5rem;
  margin-bottom: 5rem;
  color: #ecececce;
  line-height: 64px;
}
.contact-content :nth-child(2) {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  color: var(--light-white);
  line-height: 30px;
}
.contact-content :nth-child(3) {
  font-size: 1rem;
  color: #ececec;
}

.wave-group {
  position: relative;
  margin-bottom: 1.8rem;
}

.wave-group .input:focus {
  outline: none;
  border-bottom: none;
}
.form-control {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1;
  flex-direction: column;
  margin: 20px 0 40px;
  gap: 2rem;
}
.wave-group .input {
  font-size: 20px;
  padding: 20px 20px 20px 5px;
  display: block;
  max-width: 40rem;
  width: 40rem;
  border: none;
  border-bottom: 2px solid var(--light-white);
  background: transparent;
  color: var(--light-white);
}

.wave-group .label {
  color: var(--light-white);
  font-size: 1.4rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 0rem;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  color: #3b62ff;
  font-size: 1.2rem;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin-top: 1rem;
}

.message-label {
  color: var(--light-white);
  font-size: 1.5rem;
  text-align: start;
  cursor: pointer;
}

.text-area {
  width: 40rem;
  max-width: 40rem;
  color: var(--light-white);
  font-size: 1.5rem;
  background-color: #ffffff14;
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 1rem;
}

.text-area:focus {
  outline: #3b62ff 1px solid;
}

/* Footer */

.footer {
  margin-top: -8rem;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bx-envelope {
  font-size: 2.2rem;
}

.bxs-phone {
  font-size: 2.2rem;
}

.container-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 3rem 6rem;
  background-color: #ffffff14;
  width: 80%;
  border-radius: 10px;
}

.contact-info {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.contact-info > * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--light-white);
  font-size: 1.8rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: 0.3s ease;
}
.contact-info :nth-child(1):hover {
  color: var(--white-color);
}
.contact-info :nth-child(2):hover {
  color: var(--white-color);
}

.bottom-logo {
  width: 14rem;
}

.copy-right-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 8rem;
}
.details {
  margin-top: 5rem;
  font-size: 1.4rem;
  padding: 0 2.5rem;
  color: var(--light-white);
  line-height: 50px;
}
.copy-right-container :nth-child(1) {
  font-size: 2rem;
}
.copy-right-container :nth-child(2) {
  font-size: 1rem;
  color: var(--light-white);
}
.img {
  background-image: url(./images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: -55rem;
}

.blur3 {
  position: relative;
  width: 100%;
  height: 20vh;
  top: -8rem;

  background: linear-gradient(#100f1dfc, #ffa5d537),
    radial-gradient(
      69.09% 95.18% at 42.78% 42.58%,
      #9646ff3a 0%,
      rgba(36, 33, 75, 0) 100%
    );

  filter: blur(100px);
  z-index: 1;
}

/* Menu Navigation */

.navbar2 {
  display: none;
}

.non-visible {
  visibility: hidden;
}

.visible {
  display: flex;
}

.checkbox {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: red;
  z-index: 999999;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

.hamburger-lines .line {
  z-index: 2;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--light-white);
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.clicked {
  right: 0rem;
}

.unClicked {
  right: -40rem;
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

/* Responsive design */

@media (max-width: 1350px) {
  .contact {
    flex-direction: column;
    gap: 8rem;
  }
}

@media (max-width: 1100px) {
  .social-media {
    display: none;
  }
  .main-text {
    font-size: 5rem;
  }
  .title {
    font-size: 7rem;
  }
  .logo-image1 {
    width: 11.5rem;
  }
  .logo-image2 {
    width: 5.38rem;
  }
  .logo-image3 {
    width: 6.6rem;
    margin-left: 2.8rem;
  }
  .logo-image4 {
    width: 7rem;
    margin-left: 2.8rem;
  }
  .logo-image5 {
    width: 14rem;
  }
  .logo-image6 {
    width: 15rem;
  }
  .logo-image7 {
    width: 5rem;
  }
  .logo-image8 {
    width: 6rem;
  }
  .logo-image9 {
    width: 8rem;
  }
  .logo-image10 {
    width: 6rem;
  }
  .logo-image11 {
    width: 10rem;
  }
  .logo-image12 {
    width: 18rem;
  }
  .logo-image13 {
    width: 14rem;
  }
  .logo-image14 {
    width: 14rem;
  }
  .contact {
    flex-direction: column;
  }

  .contact-content {
    flex: 1;
    padding-right: 0rem;
    padding-bottom: 4.8rem;
  }
  .container-info {
    flex-direction: column;
    gap: 0rem;
    padding: 0.5rem 2rem;
  }

  .contact-info > * {
    font-size: 1.5rem;
    color: var(--light-white);
  }
  .bottom-logo {
    width: 11rem;
  }
}

@media (max-width: 850px) {
  .navbar2 {
    display: flex;
  }
  .logo-menu {
    display: flex;
  }
  .my-name {
    font-size: 2rem;
  }
  .profile-image {
    width: 13rem;
    margin-top: 5rem;
  }
  .projects-container {
    margin-top: 5rem;
    gap: 5rem;
  }
  .contact {
    margin-top: 5rem;
  }
  .main-text {
    font-size: 3.9rem;
    margin-top: 15rem;
  }

  .title {
    font-size: 6.5rem;
  }

  .second-text {
    font-size: 1.3rem;
    margin-top: 8rem;
  }

  .third-text {
    font-size: 1.3rem;
  }

  .contact-content :nth-child(1) {
    font-size: 1.7rem;
    line-height: 35px;
  }

  .contact-content :nth-child(2) {
    font-size: 1.3rem;
  }

  .container-info {
    justify-content: start;
    align-items: start;
  }

  .contact-info {
    font-size: 1rem;
  }
  .blur3 {
    top: -13rem;
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    gap: 1rem;
    margin-left: -1rem;
    color: var(--light-white);
  }

  .logo {
    margin-right: 2rem;
  }

  .navbar2 {
    margin-right: 1rem;
  }

  .navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 10rem 0 0 5rem;
    height: 110vh;
    width: 65%;
    transition: 0.5s ease;
    background: rgba(18, 18, 18, 0.57);
    border-radius: 16px 0 0 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .nav-list {
    align-items: start;
    flex-direction: column;
  }

  .nav-item {
    font-size: 1.2rem;
    padding-bottom: 20px;
    cursor: pointer;
  }

  .nav-item::after {
    height: 0px;
  }

  .nav-item:hover::after {
    width: 0%;
    color: var(--white-color);
  }

  .hero-btn {
    margin-top: 2rem;
  }
  .wave-group .input {
    max-width: 31rem;
    width: 31rem;
  }

  .text-area {
    width: 31rem;
    max-width: 31rem;
  }
  .blur2 {
    position: relative;
    width: 95%;
    height: 30vh;
    top: 5rem;
    z-index: 9999999;
  }
}

@media (max-width: 650px) {
  .second-text {
    margin-top: 4rem;
  }

  .main-text {
    font-size: 3rem;
    padding: 1rem 0.5rem 0 0.5rem;
    margin-top: 12rem;
  }

  .skills {
    margin-bottom: 6rem;
  }

  .text-area {
    font-size: 1.1rem;
  }

  .second-text {
    font-size: 1rem;
    margin-top: 5rem;
  }

  .third-text {
    font-size: 1rem;
  }

  .title {
    font-size: 5rem;
  }

  .hamburger-lines {
    height: 20px;
  }

  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(47deg);
  }

  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-47deg);
  }

  .hamburger-lines .line {
    height: 0rem;
    color: var(--white-color);
    width: 25px;
    padding: 0.8px;
  }

  .contact-content :nth-child(1) {
    font-size: 1.3rem;
    padding-right: 0.5rem;
  }

  .card2 {
    padding-top: 0rem;
    margin: 1.5rem 1rem;
  }

  .maximize {
    height: 700px;
    padding-top: 0.4rem;
  }

  .section {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .form-control {
    margin-left: -2rem;
  }
  .navbar {
    width: 95%;
  }
}

@media (max-width: 530px) {
  .logo {
    width: 6rem;
  }
  .skills {
    margin-bottom: 8rem;
  }

  .blur2 {
    top: 10px;
  }
  .my-name {
    color: var(--white-color);
    margin: 1rem 0;
    font-size: 1.7rem;
  }

  .profile-image {
    max-width: 10rem;
    border-radius: 100%;
    box-shadow: var(--shadow);
  }

  .main-text {
    font-size: 2.5rem;
    padding: 1rem 0.5rem 0 0.5rem;
  }

  .title {
    font-size: 4.5rem;
    padding: 7rem 0 3rem 0;
  }

  .card-title :nth-child(1) {
    font-size: 1.3rem;
  }
  .card-title :nth-child(2) {
    font-size: 1.3rem;
  }

  .header {
    height: 4rem;
  }

  .menu {
    font-size: 1.5rem;
  }

  .card2 {
    margin: 0.5rem 0.2rem;
  }

  .logo {
    margin-left: 1rem;
    width: 7rem;
  }

  .form-control {
    margin-left: -3rem;
  }

  .contact-content {
    margin-left: -2rem;
    padding: 0 1rem;
  }
  .container-info {
    justify-content: start;
    align-items: start;
  }

  .contact-info > * {
    font-size: 1rem;
    gap: 0.7rem;
  }

  .bx-envelope {
    font-size: 1.7rem;
  }
  .bxs-phone {
    font-size: 1.7rem;
  }
  .bottom-logo {
    width: 9rem;
  }

  .wave-group .input {
    width: 20rem;
  }
  .text-area {
    width: 20rem;
  }

  .wave-group .label {
    font-size: 1rem;
  }

  .message-label {
    font-size: 1.1rem;
  }

  .logo-image2 {
    margin-right: 3rem;
  }
  .logo-image3 {
    margin-left: 0rem;
  }
  .logo-image4 {
    margin-left: 0rem;
  }

  .copy-right-container {
    flex-direction: column;
    gap: 3rem;
  }
  .Logos {
    padding: 4rem 1rem 6rem 0;
  }
}

@media (max-width: 400px) {
  .main-text {
    font-size: 2.3rem;
    padding: 1rem 0.5rem 0 0.5rem;
  }

  .title {
    font-size: 4.5rem;
  }

  .header {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .contact-info > * {
    font-size: 1rem;
    color: var(--light-white);
  }

  .card2 {
    margin: 2rem 0.2rem;
    height: 140px;
  }

  .maximize {
    padding-top: 0;
    height: 790px;
  }

  .boxIMG {
    margin-top: -3rem;
  }

  .card-title {
    display: flex;
    gap: 0.8rem;
  }
  .wave-group .input {
    width: 19rem;
  }
  .text-area {
    width: 19rem;
  }
  .form-control {
    margin-left: -3rem;
  }
  /* Customize the card*/
  .wiki {
    max-height: 590px;
  }
  .twitter {
    max-height: 720px;
  }
  .network {
    max-height: 640px;
  }
  .youtube {
    max-height: 580px;
  }
  .whatsApp {
    max-height: 600px;
  }
}
